
<!-- <form action="/pets/<%= @pet.id %>" method="post">
  <%#= hidden_field_tag :authenticity_token, :form_authenticity_token %>
  <input type="hidden" name="_method" value="patch">
  <label for="">name</label>
  <input type="text" name="pet[name]" value="<%#= @pet.name %>">
  <label for="">address</label>

  <input type="text" name="pet[address]" value="<%#= @pet.address %>">
  <label for="">found_on</label>

  <input type="text" name="pet[found_on]" value="<%#= @pet.found_on %>">
  <label for="">specie</label>

  <input type="text" name="pet[specie]" value="<%#= @pet.specie %>">
  <input type="submit">
</form>


 -->

<!-- form for -->

<%#= form_for @pet do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name%>

  <%#= f.label :address%>
  <%#= f.text_field :address%>

  <%#= f.label :found_on%>
  <%#= f.date_field :found_on%>

  <%#= f.label :specie%>
  <%#= f.text_field :specie %>

<%#= f.submit %>
<%# end %>

<%= render 'form', mango: @pet %>
