<!-- WITH HTML -->
<!-- <form action="/pets" method="post">
  <%#= hidden_field_tag :authenticity_token, :form_authenticity_token %>
  <label for="">name</label>
  <input type="text" name="pet[name]">
  <label for="">address</label>

  <input type="text" name="pet[address]">
  <label for="">found_on</label>

  <input type="text" name="pet[found_on]">
  <label for="">specie</label>

  <input type="text" name="pet[specie]">
  <input type="submit">
</form>
 -->


<!-- WITH FORM FOR -->
 <%#= form_for @pet do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name%>

  <%#= f.label :address%>
  <%#= f.text_field :address%>

  <%#= f.label :found_on%>
  <%#= f.date_field :found_on%>

  <%#= f.label :specie%>
  <%#= f.text_field :specie %>

<%#= f.submit %>
<%# end %>

<%= render 'form', mango: @pet %>
